@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola  @User.Identity.Name, Bienvenido</h1>
    <div class="display-3">
    <p> <h6>Queremos que disfrutes de todos los beneficios de nuestra solución, y para ello es necesario
         que estes registrado. Si ya lo estas, perfecto! Haz Loguin, sino lo estas, registrate, hazlo ahora!</h6></p>
        </div>
</div>
